@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

:root {
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Passion One', cursive;
    --cor1: #3F0259;
    --cor2: #6E038C;
    --cor3: #AB04D9;
    --cor4: #0D0D0D;
    --cor5: #E80000;
    --cor6: #042940;
    --cor7: #005C53;
    --cor8: #67aeb8;

}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body {
    min-height: 100vh;
    background-color: var(--cor4);
    font-family: var(--font1);
}

header {
    background-image: linear-gradient(to left, var(--cor3), var(--cor2), var(--cor1), var(--cor4));
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
    font-size: 4vw;
    text-align: center;
    font-family: var(--font1);
    
}

#atenção {
    color: var(--cor5);
}

.links {
    text-align: right;
    padding: 20px;
    max-width: auto;
    
}

.felipe > a {
    color: #D6D58E;
    background-image: linear-gradient(to top, var(--cor6), var(--cor7));
    text-decoration: none;
    font-weight: bolder;
    border-radius: 20px;
    padding: 15px;
}

.felipe abbr > img {
    width: 30px;
    text-align: center;
}

nav a {
    color: white;
    background-color: var(--cor2);
    text-decoration: none;
    font-weight: bolder;
    margin-left: 5px ;
    border-radius: 15px;
    padding: 12px;
}

nav a:hover, footer a:hover {
    text-decoration: underline;
    background-color: var(--cor8);
    transition-duration: 0.5s;
}

section {
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 4.5vw;
}

section > p {
    padding-bottom: 2em
}

section.normal {
    background-color: white;
    color: var(--cor4);

}

section.imagem {
    background-color: rgba(20, 20, 20);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px 0px var(--cor4);
}

section#img01 {
    background-image: url('../imagens/Golden.jpg');
    background-position: top center;
}

section#img02 {
    background-image: url('../imagens/dog.jpg');
    background-position: top center;
}

section#img03 {
    background-image: url('../imagens/dog01.jpeg');
    background-position: top center;
}

footer {
    background-color: var(--cor4);
    color: white;
    padding: 20px;
    text-align: center;  
}

